In [53]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

In [20]:
with open('index_2018.json') as f:
    d = json.load(f)

In [21]:
filling_2018 = json_normalize(d['Filings2018'])

In [26]:
filling_2018.head(3)

,DLN,EIN,FormType,LastUpdated,ObjectId,OrganizationName,SubmittedOn,TaxPeriod,URL
0,93493318071517,453578215,990,2018-01-18T23:53:03,201713189349307151,MULEY FANATIC FOUNDATION OF WYOMING INC,2018-01-10,201612,https://s3.amazonaws.com/irs-form-990/20171318...
1,93493318071467,383333202,990,2018-01-18T23:53:03,201713189349307146,KALAMAZOO COMMUNITY FOUNDATION,2018-01-10,201612,https://s3.amazonaws.com/irs-form-990/20171318...
2,93493318071317,233014323,990,2018-01-18T23:53:03,201713189349307131,GOSPEL THROUGH COLOMBIA,2018-01-10,201612,https://s3.amazonaws.com/irs-form-990/20171318...

In [106]:
with open('index_2017.json') as f:
    d = json.load(f)

In [108]:
filling_2017 = json_normalize(d['Filings2017'])

In [109]:
filling_2017.head(3)

,DLN,EIN,FormType,LastUpdated,ObjectId,OrganizationName,SubmittedOn,TaxPeriod,URL
0,93493243000066,042662873,990,2017-01-11T22:15:15,201612439349300006,ELKS BUILDING CORP OF NORWOOD,2017-01-04,201603,https://s3.amazonaws.com/irs-form-990/20161243...
1,93493243000266,042964630,990,2017-01-11T22:15:15,201612439349300026,NEIGHBORHOOD OF AFFORDABLE HOUSING INC,2017-01-04,201512,https://s3.amazonaws.com/irs-form-990/20161243...
2,93493243003416,382912028,990,2017-01-11T22:15:15,201612439349300341,RELEAF MICHIGAN INC,2017-01-04,201512,https://s3.amazonaws.com/irs-form-990/20161243...

In [57]:
filling_2018.dtypes

DLN                 object
EIN                 object
FormType            object
LastUpdated         object
ObjectId            object
OrganizationName    object
SubmittedOn         object
TaxPeriod           object
URL                 object
dtype: object

In [58]:
filling_2018['EIN'] = filling_2018['EIN'].astype(np.int64)

In [61]:
filling_2018.dtypes

DLN                 object
EIN                  int64
FormType            object
LastUpdated         object
ObjectId            object
OrganizationName    object
SubmittedOn         object
TaxPeriod           object
URL                 object
dtype: object

In [62]:
ntee_filter = pd.read_csv('ntee_filter_BMF.csv')

In [63]:
ntee_filter.dtypes

EIN              int64
NAME            object
STREET          object
CITY            object
ZIP             object
ACTIVITY         int64
NTEE_CD         object
REVENUE_AMT    float64
dtype: object

In [84]:
ntee_filter.nunique()

EIN            8031
NAME           7876
STREET         7290
CITY            702
ZIP            7456
ACTIVITY        520
NTEE_CD         370
REVENUE_AMT    2387
dtype: int64

In [70]:
ntee_filter.count()

EIN            8031
NAME           8031
STREET         8031
CITY           8031
ZIP            8031
ACTIVITY       8031
NTEE_CD        8031
REVENUE_AMT    5841
dtype: int64

In [64]:
ntee_filter.head(3)

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,REVENUE_AMT
0,10415961,VETERANS FOR PEACE INC,1404 N BROADWAY,SAINT LOUIS,63102-2303,123000000,W30Z,553148.0
1,10565782,CHINA TRAINING NETWORK,PO BOX 11032,SPRINGFIELD,65808-1032,0,X20,138838.0
2,10575589,THE UNIVERSAL BUDDHIST CONGREGATION QUANG PHAP...,5232 BULWER AVE,SAINT LOUIS,63147-3110,0,X50,NaN

In [65]:
ntee_filter.dtypes

EIN              int64
NAME            object
STREET          object
CITY            object
ZIP             object
ACTIVITY         int64
NTEE_CD         object
REVENUE_AMT    float64
dtype: object

In [74]:
d1_merge = ntee_filter.merge(filling_2018, how='left',left_on='EIN', right_on='EIN')

In [92]:
d1_merge.head(20)

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,REVENUE_AMT,DLN,FormType,LastUpdated,ObjectId,OrganizationName,SubmittedOn,TaxPeriod,URL
0,10415961,VETERANS FOR PEACE INC,1404 N BROADWAY,SAINT LOUIS,63102-2303,123000000,W30Z,553148.0,93493319018288,990,2019-02-21T16:25:33,201833199349301828,VETERANS FOR PEACE INC,2018-12-18,201712,https://s3.amazonaws.com/irs-form-990/20183319...
1,10565782,CHINA TRAINING NETWORK,PO BOX 11032,SPRINGFIELD,65808-1032,0,X20,138838.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10575589,THE UNIVERSAL BUDDHIST CONGREGATION QUANG PHAP...,5232 BULWER AVE,SAINT LOUIS,63147-3110,0,X50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10582036,FO GUANG SHAN SAINT LOUIS BUDDHIST CENTER,3109 SMILEY RD,BRIDGETON,63044-3043,0,X50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10584486,ST LOUIS SENIOR DOG PROJECT,7488 RIVERMONT TRL,HOUSE SPRINGS,63051-2033,0,D20,140000.0,93492142000328,990EZ,2018-09-12T13:10:49,201821429349200032,SAINT LOUIS SENIOR DOG PROJECT,2018-09-11,201712,https://s3.amazonaws.com/irs-form-990/20182142...
5,10586306,BARCEDA FAMILIES,413 W WATER ST,GREENFIELD,65661-1353,0,P20,5146.0,93492044004388,990EZ,2018-03-14T23:04:38,201830449349200438,BARCEDA FAMILIES,2018-03-05,201706,https://s3.amazonaws.com/irs-form-990/20183044...
6,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,PO BOX 223,CASSVILLE,65625-0223,29380000,L20Z,116609.0,93492249008188,990EZ,2018-12-22T17:14:37,201832499349200818,HABITAT FOR HUMANITY OF SOUTH BARRY,2018-11-14,201806,https://s3.amazonaws.com/irs-form-990/20183249...
7,10618842,TRINITY OUTREACH MINISTRIES INC,565 N WEST BYP,SPRINGFIELD,65802-5349,0,X21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10624838,FAERY TAILS CORGI RESCUE OF ST LOUIS,PO BOX 190816,SAINT LOUIS,63119-6816,0,D20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10625543,BUCKHAWK CENTER,1509 CR 437B,MOUNTAIN VIEW,65548-8864,0,D20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10643653,AMERICAN ESKIMO RESCUE OF SAINT LOUIS INC,PO BOX 190523,SAINT LOUIS,63119-6523,0,D20,56583.0,93492305006397,990EZ,2018-01-18T23:53:03,201743059349200639,AMERICAN ESKIMO RESCUE OF ST LOUIS INC,2018-01-18,201612,https://s3.amazonaws.com/irs-form-990/20174305...
11,10643653,AMERICAN ESKIMO RESCUE OF SAINT LOUIS INC,PO BOX 190523,SAINT LOUIS,63119-6523,0,D20,56583.0,93492275002318,990EZ,2018-11-15T17:06:31,201812759349200231,AMERICAN ESKIMO RESCUE OF ST LOUIS INC,2018-11-08,201712,https://s3.amazonaws.com/irs-form-990/20181275...
12,10643912,K-LIFE MINISTRIES,PO BOX 701,BOLIVAR,65613-0701,7000000,I21Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10657366,SOJOURNER INC,1410 E KEARNEY ST STE D,SPRINGFIELD,65803-4100,0,X20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10670203,NEW GENERATIONAL CHRISTIAN CENTER CHURCH INC,12297 A NATURAL BRIDGE,ST LOUIS,63044-2063,0,X20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10684355,FRIENDS OF CARONDELET PARK INC,3910 BOWEN ST,SAINT LOUIS,63116-3126,0,N32,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10750030,KINGS SANCTUARY-OUTREACH MINISTRY,7330 OLIVE ST RD,UNIVERSITY CITY,63130-0000,0,X20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10752303,LIGHTHOUSE DELIVERANCE MINISTRY,PO BOX 916,ST ROBERT,65584-0916,0,X20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10756138,FIVE ACRES ANIMAL SHELTER,1099 PRALLE LN,SAINT CHARLES,63303-5735,0,D20,1012661.0,93493248005358,990,2018-11-15T17:06:31,201802489349300535,FIVE ACRES ANIMAL SHELTER,2018-10-31,201712,https://s3.amazonaws.com/irs-form-990/20180248...
19,10757598,CALVARYS GRACE MINISTRIES,PO BOX 1672,POPLAR BLUFF,63902-1672,0,X20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
d1_merge.count()

EIN                 8219
NAME                8219
STREET              8219
CITY                8219
ZIP                 8219
ACTIVITY            8219
NTEE_CD             8219
REVENUE_AMT         6026
DLN                 1769
FormType            1769
LastUpdated         1769
ObjectId            1769
OrganizationName    1769
SubmittedOn         1769
TaxPeriod           1769
URL                 1769
dtype: int64

In [110]:
df_final = d1_merge[['EIN','NAME', 'STREET', 'CITY', 'ZIP', 'ACTIVITY','NTEE_CD','URL']]

In [119]:
df_final[0:10]

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,URL
0,10415961,VETERANS FOR PEACE INC,1404 N BROADWAY,SAINT LOUIS,63102-2303,123000000,W30Z,https://s3.amazonaws.com/irs-form-990/20183319...
1,10565782,CHINA TRAINING NETWORK,PO BOX 11032,SPRINGFIELD,65808-1032,0,X20,NaN
2,10575589,THE UNIVERSAL BUDDHIST CONGREGATION QUANG PHAP...,5232 BULWER AVE,SAINT LOUIS,63147-3110,0,X50,NaN
3,10582036,FO GUANG SHAN SAINT LOUIS BUDDHIST CENTER,3109 SMILEY RD,BRIDGETON,63044-3043,0,X50,NaN
4,10584486,ST LOUIS SENIOR DOG PROJECT,7488 RIVERMONT TRL,HOUSE SPRINGS,63051-2033,0,D20,https://s3.amazonaws.com/irs-form-990/20182142...
5,10586306,BARCEDA FAMILIES,413 W WATER ST,GREENFIELD,65661-1353,0,P20,https://s3.amazonaws.com/irs-form-990/20183044...
6,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,PO BOX 223,CASSVILLE,65625-0223,29380000,L20Z,https://s3.amazonaws.com/irs-form-990/20183249...
7,10618842,TRINITY OUTREACH MINISTRIES INC,565 N WEST BYP,SPRINGFIELD,65802-5349,0,X21,NaN
8,10624838,FAERY TAILS CORGI RESCUE OF ST LOUIS,PO BOX 190816,SAINT LOUIS,63119-6816,0,D20,NaN
9,10625543,BUCKHAWK CENTER,1509 CR 437B,MOUNTAIN VIEW,65548-8864,0,D20,NaN

In [ ]:
df.loc[df['column_name'] == some_value]; 
gapminder_2002 = gapminder[gapminder.year == 2002]; 
is_2002 =  gapminder['year']==2002
 df.query('col1 <= 1 & 1 <= col1')
Out[21]:

In [138]:
df_final.query("URL == '%https*%'")

Empty DataFrame
Columns: [EIN, NAME, STREET, CITY, ZIP, ACTIVITY, NTEE_CD, URL]
Index: []

In [144]:
df_final[4:7]

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,URL
4,10584486,ST LOUIS SENIOR DOG PROJECT,7488 RIVERMONT TRL,HOUSE SPRINGS,63051-2033,0,D20,https://s3.amazonaws.com/irs-form-990/20182142...
5,10586306,BARCEDA FAMILIES,413 W WATER ST,GREENFIELD,65661-1353,0,P20,https://s3.amazonaws.com/irs-form-990/20183044...
6,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,PO BOX 223,CASSVILLE,65625-0223,29380000,L20Z,https://s3.amazonaws.com/irs-form-990/20183249...

In [145]:
df_final3 = df_final[4:7]

In [146]:
df_final3.head()

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,URL
4,10584486,ST LOUIS SENIOR DOG PROJECT,7488 RIVERMONT TRL,HOUSE SPRINGS,63051-2033,0,D20,https://s3.amazonaws.com/irs-form-990/20182142...
5,10586306,BARCEDA FAMILIES,413 W WATER ST,GREENFIELD,65661-1353,0,P20,https://s3.amazonaws.com/irs-form-990/20183044...
6,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,PO BOX 223,CASSVILLE,65625-0223,29380000,L20Z,https://s3.amazonaws.com/irs-form-990/20183249...

In [147]:
df_final3.to_csv('df_final3')